.home {
    color:rgb(0, 0, 0);
    display: flex; 
    text-align: right;
    padding-top: 16rem;
    padding-bottom: 26rem;
    height: 100%;
    font-size: 1.2cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.homeImage{
   width: 1220px;
   height: 700px;
   padding-bottom: 50px;

}


.aboutSection{
    color:rgb(196, 29, 29);
    display: flex; 
    text-decoration: none;
    padding-top: 25rem;    
    padding-bottom: 6rem;
    text-align: right;
    height: 100%;
    font-size: 1.3cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}